.section-index {

    .entry {
        padding: .75rem;
    }

    h5 {
        margin-bottom: 0;      

        a {           
            font-weight: 500;
            color:#003366;
            &:hover {
                color: $secondary;
                text-decoration: none;
            }
        }
    }

    p {
        margin-top: 0;
        font-size: 80%;
    }
}
