/*************************************************
 *  Navigation bar
 **************************************************/

.navbar {
  height: 70px;
  background: $sta-menu-primary;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
  font-size: #{$sta-font-size}px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // Remove Bootstrap's navbar v-padding and assign v-padding to logo separately to maximise logo size.
  // Otherwise, Bootstrap's navbar v-padding causes issue with logo fitting within fixed 50px height bar in md-lg sizes.
  padding: 0 1rem;

  .nav-item {
    // For z-index compatibility with logo on mobile layout, otherwise nav-item can't be clicked when logo present.
    position: relative;
  }
  @include media-breakpoint-down(md) {
    height: 50px;

    .navbar-nav-scroll {
      width: 100%;
      overflow: hidden;

      .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  .navbar-nav {
    display: flex;

    .nav-link {
      color: rgba($sta-menu-text, .85);

      &.active,
      &:hover,
      &:focus {
        color: $sta-menu-text-active;
      }

      &.active {
        font-weight: bold !important;
        color: $sta-menu-text-active !important;
      }
    }
  }

  .dropdown-menu {
    font-size: #{$sta-font-size}px;
  }

  // Note: dedicated `dropdown-item-active` class to prevent ScrollSpy removing `active` class from language chooser.
  .dropdown-item.active,
  .dropdown-item-active {
    font-weight: bold;
    color: $sta-menu-text-active !important;
  }

}

.dark .navbar {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 255, 255, .11);
}

// Remove Bootstrap's border from Toggle button.
.navbar-toggler {
  border: 0 !important;
  position: relative;  // For z-index clickable mobile logo.
  z-index: 1030;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

@include media-breakpoint-down(md) {  /* Match breakpoint for i18n dropdown in navbar.html. */
  .i18n-dropdown .nav-link::after {
    // Remove dropdown arrow on small devices (when language name isn't displayed).
    content: none;
  }
}

// Prevent language and theme selectors rendering off page.
.i18n-dropdown .dropdown-menu,
.theme-dropdown .dropdown-menu {
  /* Use style from uncollapsable dropdowns to prevent dropdown going off page. */
  position: absolute;
  /* Below style from .dropdown-menu-right to prevent dropdown going off page. */
  right: 0;
  left: auto;
}

// Allow user to horizontally scroll.
// Commented out this feature as it causes dropdowns to appear within the menu bar.
// TODO: re-enable in a way that doesn't break dropdowns.
/*
.navbar .collapse {
  overflow-x: auto;
}
*/

.navbar-brand {
  // Set v-padding to 5px to align with 50/70px responsive max navbar heights.
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  position: relative;
  
  z-index: 1030;  // For z-index clickable mobile logo.
}

a.navbar-brand {
  color: red;
  font-size:120%;
  
}